body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightblue;
}

article {
  padding: 10px;
}

header {
  width: 100%;
  overflow: auto;
}

h1 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: xxx-large;
  color: orangered;
  margin: 0;
  font-weight: bold;
  font-style:italic;
}

h2 {
  font-family: "Courier New", monospace;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}

p {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
}

ul {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  display: table;
  margin: 0 auto;
  text-align: left;
  list-style-type: square;
  list-style-position: inside;
}

/* Header */
.topnav {
width: 100%;
background-color: #05004e;
overflow: auto;
}

.topnav a {
float: left;
display: block;
color: cornsilk;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
border-bottom: 3px solid transparent;
}

.topnav a:hover {
border-bottom: 3px solid orangered;
}

/* Interests */
.picture {
  margin: 10px;
  width: 330px;
  height: 400px;
}

.interest-div {
  position: static;
  text-align: center;
}


