body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightblue;
}

/* Header */
.topnav {
background-color: #05004e;
overflow: hidden;
}

.topnav a {
float: left;
display: block;
color: cornsilk;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
border-bottom: 3px solid transparent;
}

.topnav a:hover {
border-bottom: 3px solid orangered;
}

/* Interests */



/* Footer */

