{% extends "mysite/layout.html" %}

{% block body %}
{% load static %}
<div class="bg-dark text-white">
    <section class="text-center container" style="padding-top: 65px; padding-bottom: 2%;">
        <div class="display-1">PROJECTS</div>
    </section>
</div>


<div class="bg-secondary text-white" style="padding-bottom: 2%">
    <section class="text-center justify-content-center container">
        <div class="display-4">Personal Website</div>
        <div class="card container-fluid bg-dark" style="width: 75%;">
            <img class="card-img-top" src="{% static 'personalwebsitev1.png' %}" alt="Project Image">
            <div class="card-body">
              <h5 class="card-title">Personal Website v1</h5>
              <p class="card-text">The first version of my personal website originally utilized only HTML and CSS, but I added onto Version 1 by creating Version 2 (what you see here). Version 2 is updated to incorporate Bootstrap, 
                  a CSS framework, and Django, a powerful web framework, to enhance user experience.</p>
            <a target="_blank" class="btn btn-md text-white" style="background-color: #333333;" id="websiteV1GitHubLink" href="https://github.com/austinchaang/austinchangwebsiteversion1.github.io" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                </svg>  
            </a>  
            <a href="https://austinchaang.github.io/austinchangwebsiteversion1.github.io/" id="websiteV1Link" class="btn btn-primary">Open Project</a>
            </div>
        </div>

        <div class="display-4">Personal Website Testing Project</div>
        <div class="card container-fluid bg-dark" style="width: 75%;">
            <div class="card-body">
              <h5 class="card-title">Selenium WebDriver Automated Test Project</h5>
              <p class="card-text">This testing project was designed and developed to test my personal website
                by integrating Selenium WebDriver with Java JUnit tests and Gradle as the build
                tool, ensuring robust and automated testing processes. This project applies the Page Object Model (POM) design pattern to enhance test
                maintainability and reusability by segregating the test logic from my personal
                website's underlying web page structure.</p>

            <a target="_blank" class="btn btn-md text-white" style="background-color: #333333;" id="personalWebsiteTestingGitHubLink" href="https://github.com/austinchaang/PersonalWebsiteTesting" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                </svg>  
            </a>  
            </div>
        </div>

        <div class="display-4">Javascript Project</div>
        <div class="card container-fluid bg-dark" style="width: 75%;">
            <div class="card-body">
              <h5 class="card-title">Tic Tac Toe Game</h5>
              <p class="card-text">This Javascript project was meticulously developed to enhance my proficiency in the language and showcase its integration with HTML, CSS, and Bootstrap to create an aesthetically pleasing UI. The tic-tac-toe game is fully-functional and allows users to compete against each other in a highly interactive gameplay environment.
                  Essential features like robust error handling, efficient turn management, and reliable win detection mechanisms, utilizes JavaScript to guarantee seamless gameplay flow and enhance user satisfaction
              </p>
            <a target="_blank" class="btn btn-md text-white" style="background-color: #333333;" id="jsProjectGitHubLink" href="https://github.com/austinchaang/tictactoe" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                </svg>  
            </a>  
            <a href="{% url 'jsproject' %}" id="jsProjectLink" class="btn btn-primary">Open Project</a>
            </div>
        </div>
        
    </section>
</div>
{% endblock %}